<div class="row">
    <div class="col-lg-12">
      <div class="ur-listing-tab">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#Your_Listing" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Your Listing</a>
          </li>
          <li role="presentation" class="">
            <a href="#manage-inventory" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Manage-Inventory</a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade active in" id="Your_Listing">
              <div *ngIf="showToolbar">
                  <mat-toolbar color="primary" *ngIf="!dataSource.data.length > 0">No Data Found!</mat-toolbar>
                </div>
            <div class="table-responsive" style="position: relative;" [ngClass]="{'hide-pagination':showToolbar}">

              <mat-table #table [dataSource]="dataSource" *ngIf="dataSource.data.length > 0">
                <ng-container matColumnDef="Experience Name">
                  <mat-header-cell *matHeaderCellDef style="flex: 1.5"> Experience Name </mat-header-cell>
                  <mat-cell *matCellDef="let element" style="flex: 1.5"> <span (click)="tooltip.show()">{{element.experienceName | truncate:60}}</span>
                      <span [matTooltip]="element.experienceName" #tooltip="matTooltip">

                        </span> </mat-cell>
                </ng-container>
                <!-- Reported Date-->
                <ng-container matColumnDef="Reported Date">
                  <mat-header-cell *matHeaderCellDef style="flex: 1.5"> Reported Date </mat-header-cell>
                  <mat-cell *matCellDef="let element" style="flex: 1.5">
                    <span *ngIf="element.userServiceReport[0]">{{element.userServiceReport[0].createdDateTime | date:'dd-MM-yyyy'}}</span>
                    <span *ngIf="!element.userServiceReport[0]">
                      null
                    </span>
                  </mat-cell>
                </ng-container>

                <!-- Reported Message-->
                <ng-container matColumnDef="Reported Message">
                  <mat-header-cell *matHeaderCellDef style="flex: 2.5">Reported Message </mat-header-cell>
                  <mat-cell *matCellDef="let element" style="flex: 2.5">
                    <span (click)="tooltip.show()">{{element.userServiceReport[0].remarks | truncate:60}} </span>
                    <span [matTooltip]="element.userServiceReport[0].remarks" #tooltip="matTooltip">

                    </span>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Action">
                  <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                  <mat-cell  *matCellDef="let element">  <a [routerLink]="+'/host/experience/'+element.id">Edit</a><span> / </span> <a (click)="viewExperience(element.cityName,element.id)">View</a></mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
              <mat-paginator #paginator [pageSize]="10" (page)="pageEvent = $event" [showFirstLastButtons]="false">
              </mat-paginator>
              <div class="paginationPageIndex">
                <div *ngIf="!pageEvent">1</div>

                <div *ngIf="pageEvent">
                  <div>{{pageEvent.pageIndex + 1}}</div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="manage-inventory">
            <div class="manage-inventory-wrap">
              <div class="manage-invent-in">
                <span>Inventory </span>
                <p>Last update 21 nov 2017</p>
                <select>
                  <option>Select Property</option>
                </select>
              </div>
              <img src="../../../assets/images/manage-inventory-calender.jpg" alt="" class="img-responsive">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
