<app-book-experience-search-filter [isExpMain]="true" [searchItem]="term" ></app-book-experience-search-filter>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="vendor-category">
        <input type="text" placeholder="Search" [(ngModel)]="term">
        <ul>
          <li *ngFor="let exp of experiences |filter:term">
            <a (click)="experienceList(exp)"  >{{exp.displayName}}</a>
        </ul>
      </div>
    </div>
  </div>
</div>