<app-book-experience-search-filter [isExpList]="true" [name]="experienceListDetail.ExperienceName" [cityName]="experienceListDetail.CityName"></app-book-experience-search-filter>

<div class="container">
  <div class="row">
    <div class="col-lg-4 margin-top20">
      <div class="map-left">
        <app-google-map [isShow]="true" *ngIf="locations.length > 0" [locations]="locations" [locationCss]="locationCss">
        </app-google-map>
      </div>
      <div class="collapse-wrap">
        <div class="collapse-head">
          Expirence Type
          <img src="images/down-arrow.png" alt="">
        </div>
        <div class="collapse-dtl-wrap">
          <div class="collapse-dtl" *ngFor="let type of expirenceListType">
            <input [checked]="type.isChecked" type="checkbox" (change)="filteredExperience(type)">
            <span>{{type.displayName}} </span>
          </div>

        </div>
      </div>
    </div>

    <div class="col-lg-8 margin-top20">
      <div class="right-sort-wrap">
        <div class="sort-left">
          <span>Sort By :</span>
          <div class="size-wrap">
            <select>
              <option>Name</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="vendor-search" *ngFor="let list of experienceList">
          <div class="right-listing-wrap">
            <div class="right-listing-top">
              <ul>
                <li>
                  <a>
                    <image-slider [slides]="list.images" [sliderCss]="sliderCss"></image-slider>
                    <div class="wishlist">
                      <img *ngIf="list.isFavorite" src="assets/images/heart1.png" alt="">
                      <img *ngIf="!list.isFavorite" src="assets/images/heart.png" alt="">
                    </div>
                  </a>
                </li>
              </ul>
            </div>

            <div class="right-listing-mid">
              <div class="wishlist-rate" style="margin-left: 3px;">
                <rating [(ngModel)]="list.averageReview" [max]="5" fullIcon="★" emptyIcon="☆" [readonly]="false" [disabled]="true" [float]="true"></rating>
                <span>/ {{list.totalReview}} Review</span>
              </div>
            </div>
            <div (click)="expirenceDetail(list.id)" style="cursor: pointer;" onclick="location.href='#top'">
              <a>
                <p>{{list.experienceName| truncate : 50}} </p>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="experienceList.length > 0">
        <div class="col-lg-12">
          <app-paginator (goPage)="goToPage($event)" (goNext)="onNext()" (goPrev)="onPrev()" [pagesToShow]="10" [page]="page" [perPage]="limit"
            [count]="total"></app-paginator>
        </div>
      </div>
    </div>

    <div *ngIf="experienceList.length === 0" style="height: 300px" class="ng-star-inserted">
      <div class="labeled-block block  offset-right" style="text-align: center;padding-top:13%;height: 100px;">
        <div class="label" style="color: #455581;font-size: -webkit-xxx-large;">No Experience Found</div>
      </div>
    </div>

  </div>



</div>