<div class="container">
  <div class="row">
    <div class="col-lg-8 margin-top20 left-checkout">

      <div class="left-checkout-wrap">
        <div class="left-checkout-wrap-head">Please enter Guest Details </div>
        <div class="checkout-form">
          <div class="form-grp">
            <label>Guest name
              <em style="color: red">*</em>
            </label>
            <input type="text" OnlyAlphaNumeric="true" maxlength="100" [(ngModel)]="tourDetailModel.guestName" class="input-text" />
          </div>
          <div class="form-grp">
            <label>Email address
              <em style="color: red">*</em>
            </label>
            <input   type="text" emailValidate="true" maxlength="100" class="input-text" (blur)="bookTour('email')" [(ngModel)]="tourDetailModel.emailAddress"
            />
          </div>
          <div class="form-grp">
            <label>Mobile number
              <em style="color: red">*</em>
            </label>
            <input   type="text" OnlyDecimalNumber="true" maxlength="10" class="input-text" (blur)="bookTour('mobileNo')" [(ngModel)]="tourDetailModel.mobileNo"
            />
          </div>
          <div class="form-grp">
            <label class="intro-label">Introduce yourself to the Host (Optional)</label>
            <input type="text" class="input-text" [(ngModel)]="tourDetailModel.introduction" />
          </div>
        </div>
      </div>

      <div class="left-checkout-wrap">
        <div class="left-checkout-wrap-head">Review Tour detail </div>
        <div class="chkout-add-rules">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
            a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
            of Lorem Ipsum.

          </p>
          <a   class="btn-custom" style="cursor: pointer;" (click)="bookTour('all')">Agree and continue</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 margin-top20">
      <div class="right-checkout-wrap">
        <div class="right-checkout-wrap-head">
          <h3>{{tourDetailModel.title}} in {{tourDetailModel.totalDays}} Days </h3>
          <p>Seller : {{tourDetailModel.sellerName}} ({{tourDetailModel.totalNights}} Nights package)</p>
        </div>
        <div class="right-checkout-wrap-mid">
          <div class="checkout-price-mid">
            <div class="left-checkout-price-mid">CHECK-IN</div>
            <div class="right-checkout-price-mid">{{tourDetailModel.startDate | date:'dd-MMM-yyy'}}</div>
          </div>
          <div class="checkout-price-mid">
            <div class="left-checkout-price-mid">CHECK-OUT</div>
            <div class="right-checkout-price-mid">{{tourDetailModel.endDate | date:'dd-MMM-yyy'}}</div>
          </div>
          <div class="checkout-price-mid">
            <div class="left-checkout-price-mid">STAY DURATION</div>
            <div class="right-checkout-price-mid">{{tourDetailModel.stayDuration}} Nights</div>
          </div>
          <div class="checkout-price-mid">
            <div class="left-checkout-price-mid">ROOMS / GUESTS</div>
            <div class="right-checkout-price-mid">{{tourDetailModel.totalRooms}} Room {{tourDetailModel.totalAdults}} Adults</div>
          </div>
        </div>
        <div class="right-checkout-wrap-mid">
          <div class="checkout-price-btm">
            <div class="left-checkout-price-mid">Village Royale Studio - Rooms</div>
            <div class="right-checkout-price-mid">₹ {{tourDetailModel.packagePrice}}</div>
          </div>
          <div class="checkout-price-btm">
            <div class="left-checkout-price-mid">GST on Accomodation</div>
            <div class="right-checkout-price-mid">₹ {{tourDetailModel.gst}}</div>
          </div>
        </div>
        <div class="right-checkout-price-btm">
          <div class="checkout-price-btm">
            <div class="left-total-price-mid">Total Price</div>
            <div class="right-total-price-mid">
              <label>₹ {{tourDetailModel.packagePrice + tourDetailModel.gst}}</label>
              <br>For {{tourDetailModel.totalNights}} Night</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-login-modal *ngIf="modal" (modalPopupEvent)="modalPopupEvent($event)" [modal]="modal" [modalStatus]="modalStatus"></app-login-modal>