<div class="slider" [ngStyle]="heightChangeEvent()">
    <div class="sliderArrows">
        <a (click)="backWard()" *ngIf="slides.length>1" [ngClass]="imageCssClass()" style="padding-left: 1%">
            <!-- &lt; -->
            <img src="assets/images/back-arrow.png">
        </a>
        <a (click)="forWard()" *ngIf="slides.length>1" [ngClass]="imageCssClass()" style="padding-left: 1%">
            <!-- &gt; -->
            <img src="assets/images/right-arrow.png">
        </a>
    </div>
    <ul class="slideShow">
        <li *ngFor="let li of slides;let index= index" [ngStyle]="sliderShowDisplay(index,li?.hidden)" [ngClass]="li?.classes">
            <printSlide [meta]="li" [sliderCss]="sliderCss"></printSlide>
        </li>
    </ul>
</div>