.slider{
    height:400px;
    width:100%;
    font-size: 500%;
    color:#000;
    z-index: 0;
    background: #fff;
    position: relative;
}

.slider ul{
    display: flex;
    padding: 0;
    justify-content: center;
    margin: 0;
}
.slider ul li {
    list-style: none;
    width: 100%;
    display: none;
    /*transition: cubic-bezier(0.6, -0.61, 0, 1.34) all 0.7s;*/
}
.slider ul li img{
    max-width:100%;
    min-width:100%;
    height: 100%;
    display: block;
}

.slider ul li.active{
    display: inline-block;
}
.slider ul li.backward{
    animation: slideShow0 1.2s cubic-bezier(0.6, -0.61, 0, 1.34);
}
.slider ul li.forward{
    animation: slideShow1 1.2s cubic-bezier(0.6, -0.61, 0, 1.34);
}
.slider ul li.animateBack{
    display: inline-block;
    position: absolute;
    animation: slideShow2 1s cubic-bezier(0.38,-0.74, 0, 1.29) forwards;
    animation-delay: 0.1s;
}
.slider ul li.animateForward{
    display: inline-block;
    position: absolute;
    animation: slideShow3 1s cubic-bezier(0.38,-0.74, 0, 1.29)  forwards;
    animation-delay: 0.1s;
}
.slider .sliderArrows{
    display:flex;
    position: absolute;
    flex-flow:row wrap;
    justify-content:space-between;
    width: 100%;
    align-items:center;
    height: 100%;
    z-index: 101;
    color: black
}
.slider .sliderArrows a{
    cursor:pointer;
    /* font-weight: 900; */
}


@keyframes slideShow0{
    0%{
         translate:-1000px;
         visibility: hidden;
         opacity: 0;
    }
    100%{
        translate:0px;
        visibility: visible;
        opacity:1;
    }

}


@keyframes slideShow1{
    0%{
         translate:1000px;
         visibility: hidden;
         opacity: 0;
    }
    100%{
        translate:0px;
        visibility: visible;
        opacity:1;
    }

}

@keyframes slideShow2{
     0%{
        display: inline-block;        
        translate:0px;
        visibility: visible;
        opacity: 1;
     }
    100%{
        translate:-1000px;
        visibility: hidden;
        opacity: 0;
    display: none;
        /*display: none;*/
     }

}

@keyframes slideShow3{
     0%{
        display: inline-block;        
        translate:0px;
        visibility: visible;
        opacity: 1;
     }
    100%{
        translate:1000px;
        visibility: hidden;
        opacity: 0;
    display: none;
        /*display: none;*/
     }
}


.bookUniqueHomeDetailCss{
    width: 5%;
    height: 10%;
    background: rgba(0, 0, 0, .4);
}

.bookUniqueHomeDetailCss img{
    position: absolute;
    margin-left: 0.5%;
    margin-top: 1.5%;
}

.bookUniqueHomeSearchCss{
    width: 7%;
    height: 15%;
    background: rgba(0, 0, 0, .4);
}

.bookUniqueHomeSearchCss img{
    position: absolute;
    margin-top: 2%;
}

.bookTaxiSearchCss{
  width: 7%;
  height: 12%;
  background: rgba(0, 0, 0, .4);
}

.bookTaxiSearchCss img{
  position: absolute;
  margin-top: 2%;
}

.mainIndexCss{
    width: 3%;
    height: 10%;
    background: rgba(0, 0, 0, .4);
}

.mainIndexCss img{
    position: absolute;
    margin-left: 0.8%;
    margin-top: 1%;
}


.bookExperienceSearchCss{
    width: 7%;
    height: 15%;
    background: rgba(0, 0, 0, .4);
}



.bookExperienceSearchCss img{
    position: absolute;
    margin-top: 2%;
}

bookTourSearchCss{
    width: 5%;
    height: 20%;
    background: rgba(0, 0, 0, .4);
}

.bookTourSearchCss img{
    margin-top: -592%;
}

.bookBusinessSearchCss{
    width: 8%;
    height: 15%;
    background: rgba(0, 0, 0, .4);
}

.bookBusinessSearchCss img{
    position: absolute;
    margin-top: 2%;
}

