<div class="form-inner-in" *ngIf="hostModel">

  <div class="form-data">
    <label>{{hostTypeName}}
      <em style="color: red">*</em>
    </label>
    <input OnlyAlphaNumeric="true" type="text" maxlength="100" [(ngModel)]="hostModel.hostName">
  </div>

  <div class="form-data">
    <label>Host Description
      <em></em>
    </label>
    <textarea maxlength="500" [(ngModel)]="hostModel.hostDesc"></textarea>
    <div class="clear"></div>
  </div>

  <div class="form-data">
    <div class="form-data-in">
      <label>Email Id
        <em style="color: red">*</em>
      </label>
      <input emailValidate="true" type="text" maxlength="50" [(ngModel)]="hostModel.eMailId" (blur)="checkValidation('email')">
    </div>
    <div class="form-data-in">
      <label>Phone No
        <em style="color: red">*</em>
      </label>
      <input OnlyDecimalNumber="true" type="text" maxlength="10" [(ngModel)]="hostModel.contactNo" (blur)="checkValidation('phone')">
    </div>
    <div class="clear"></div>
  </div>
  <div class="form-data">
    <div class="form-data-in">
      <label>Languages
        <em style="color: red">*</em>
      </label>
      <angular2-multiselect [data]="languages" [(ngModel)]="selectedLanguages" (onSelect)="onLanguageItemSelect($event)" (onDeSelect)="onLanguageItemDeSelect($event)"
        (onSelectAll)="onLanguageSelectAll($event)" (onDeSelectAll)="onLanguageDeSelectAll()">
      </angular2-multiselect>
    </div>
    <div class="clear"></div>
  </div>
</div>


<div class="form-inner-in" *ngIf="hostNewModal">

  <div class="form-data">
    <label>{{hostTypeName}}
      <em style="color: red">*</em>
    </label>
    <input OnlyAlphaNumeric="true" type="text" maxlength="100" [(ngModel)]="hostNewModal.hostName">

  </div>

  <div class="form-data">
    <label>Host Description
      <em></em>
    </label>
    <textarea maxlength="500" [(ngModel)]="hostNewModal.description"></textarea>
    <div class="clear"></div>
  </div>

  <div class="form-data">
    <div class="form-data-in">
      <label>Email Id
        <em style="color: red">*</em>
      </label>
      <input emailValidate="true" type="text" maxlength="25" [(ngModel)]="hostNewModal.emailId" (blur)="checkValidation('email')">
    </div>
    <div class="form-data-in">
      <label>Phone No
        <em style="color: red">*</em>
      </label>
      <input OnlyDecimalNumber="true" type="text" maxlength="10" [(ngModel)]="hostNewModal.contactNo" (blur)="checkValidation('phone')">
    </div>
    <div class="clear"></div>
  </div>
  <div class="form-data">
    <div class="form-data-in">
      <label>Languages
        <em style="color: red">*</em>
      </label>
      <angular2-multiselect [data]="languages" [(ngModel)]="selectedLanguages" (onSelect)="onLanguageItemSelect($event)" (onDeSelect)="onLanguageItemDeSelect($event)"
        (onSelectAll)="onLanguageSelectAll($event)" (onDeSelectAll)="onLanguageDeSelectAll()">
      </angular2-multiselect>
    </div>
    <div class="clear"></div>
  </div>
</div>