<div class="tour-detail-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcum_wrap">
          <a class="btn-search btn-white"   (click)="routeHomeSearch()">Modify Search</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="details-ads">
        <div class="tour-details-left">
          <h3>{{bookTour.title}}</h3>
          <p>Seller : {{bookTour.sellerName}}
          </p>
          <div class="ratings" style="margin-top: 0;">
            <rating [(ngModel)]="bookTour.avgReview" [max]="5" fullIcon="★" emptyIcon="☆" [readonly]="false" [disabled]="true" [float]="true"></rating>
          </div>

          <div class="star-wrap">
            <img src="images/star.jpg" alt="">
            <img src="images/star.jpg" alt="">
            <img src="images/star.jpg" alt="">
            <img src="images/star.jpg" alt="">
            <img src="images/star.jpg" alt="">
          </div>
        </div>
        <div class="tour-details-right">
          <span>₹ {{bookTour.packagePrice}} /</span>
          <label>Package</label>
          <a (click)="routeCheckout()"   style="cursor: pointer"  >Book Now</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 margin-top20 left-checkout">
      <div class="left-details-setion">
        <div class="item left-dtl-slider">
          <div class="clearfix" style="max-width:100%;">
            <div class="lSSlideOuter ">
              <div class="lSSlideWrapper usingCss right-listing-top" style="transition-duration: 500ms; transition-timing-function: ease;">
                <image-slider [slides]="bookTour.images" [sliderCss]="sliderCss"></image-slider>
                <div class="wishlist" style="cursor: pointer;" (click)="bookFavorite()">
                  <img *ngIf="!bookTour.isFavorite" src="assets/images/heart.png" alt="">
                  <img *ngIf="bookTour.isFavorite" src="assets/images/heart1.png" alt="">
                </div>
                <div class="lSAction">
                  <a class="lSPrev"></a>
                  <a class="lSNext"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 margin-top20">
      <div class="right-checkout-wrap">
        <div class="right-checkout-wrap-mid no-border">
          <div class="pay_hold">
            <h3>Stay Plan</h3>
            <ul>
              <li *ngFor="let stay of bookTour.tourStayPlans">
                <span>{{stay.cityName}}</span>
                <label>{{stay.totalNights}} Night</label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div>
      <a (click)="openDialog()" class="btn-report" style="cursor:pointer">Report this Tour</a>
    </div>

    <div class="col-lg-12 tour-dtl-overview">
      <div class="list-overview-wrap" *ngFor="let tourContent of bookTour.tourContents">
        <h3>{{tourContent.contentName}}</h3>
        <div [innerHTML]="tourContent.contentValue"></div>
      </div>

      <!-- <div class="list-overview-wrap">
        <h3>Languages</h3>
        <label style="margin-right: 1%" *ngFor="let lang of languages;let index=index">
          {{lang.cdKeyValue}}
        </label>
      </div> -->
    </div>


    <div class="col-lg-12 tour-dtl-overview" style="margin-bottom: 1%" *ngIf="bookTour.canReview">
      <div class="list-overview-wrap" *ngIf="bookTour.userServiceReviews && bookTour.userServiceReviews.length == 0" #target>
        <div style="float: left;width: 50%;">
          <h3>No reviews (yet)</h3>
        </div>
        <div style="font-size: medium;">
          <img style="float: left;margin-right: 1%;height: 25px;width: 25px;" src="assets/images/add-comment.png" width="52" height="52">
          <a class="btn-demo" style="cursor:pointer" (click)="openReviewModal()">Add Review</a>
        </div>
      </div>
    </div>

    <div class="col-lg-12 tour-dtl-overview" *ngIf="!bookTour.canReview">
      <div class="list-overview-wrap">
        <h3>No reviews (yet)</h3>
        <ul>
          <li>
            This tour doesn’t have any reviews. If you stay here, your review will appear here.
          </li>
        </ul>
      </div>
    </div>



    <div class="col-lg-12 tour-dtl-overview list-overview-wrap" *ngIf="bookTour.userServiceReviews && bookTour.userServiceReviews.length>0">
      <div style="margin-bottom: 1%" *ngIf="bookTour.canReview">
        <div style="float: left;width: 50%;">
          <h3>Reviews</h3>
        </div>
        <div style="font-size: medium;">
          <img style="float: left;margin-right: 1%;height: 25px;width: 25px;" src="assets/images/add-comment.png" width="52" height="52">
          <a class="btn-demo" style="cursor:pointer" (click)="openReviewModal()">Add Review</a>
        </div>
      </div>

      <div style="margin-bottom: 1%" *ngIf="!bookTour.canReview">
        <h3>Reviews</h3>
      </div>

      <ul style="margin: 2%;">
        <li *ngFor="let review of bookTour.userServiceReviews">
          <div class="col-lg-12" style="padding: 0;margin-left: -14px;">
            <div class="col-lg-2">
              <img style="float: left;margin-right: 2%;" src="assets/images/test-img.png" width="52" height="52">
            </div>
            <div class="col-lg-10">
              {{review.remarks| truncate : 60}}
            </div>
            <div class="col-lg-12" style="padding: 0">
              <div class="col-lg-7" style="opacity:0.6">
                <b>{{review.userName}}</b>
              </div>
              <div class="col-lg-5" style="opacity:0.6">
                {{review.creationDate| date: 'dd-MMM-yyyy'}}
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<app-review-modal [modal]="reviewModal" [userServiceId]="bookTour.userServiceId" (closePopupEvent)="closePopupEvent($event)"></app-review-modal>
<app-login-modal *ngIf="modal" (modalPopupEvent)="modalPopupEvent($event)" [modal]="modal" [modalStatus]="modalStatus"></app-login-modal>