<div [ngClass]="{'is-visible':modal === true }" class="cd-user-modal" style="z-index: 12;">

  <div class="cd-user-modal-container-terms-conditions" style="background-color:white;">
    <p class="popup-close-button">
      <img style="width: 4%;" (click)="closeModal()" src="assets/images/roundCloseIcon.png">
    </p>

    <div class="cd-switcher">
      <label class="control-label" style="margin-left: 3%;">Review & Rating</label>
      <div class="col-xs-12" style="margin-top:1%">
        <h4>Rating</h4>
        <div class="ratings">
          <rating [(ngModel)]="ratingValue" [max]="5" fullIcon="★" emptyIcon="☆" [readonly]="false" [disabled]="false"
            [float]="true" [titles]="['one', 'two', 'three', 'four', 'five']">
          </rating>
        </div>
      </div>
      <div class="col-xs-12">
        <h4>Review</h4>
        <div style="font-size: large;background-color:white; border: 1px solid #e5e5e5;  overflow: auto; padding: 10px;">
          <textarea type="text" rows="10" cols="20" style=" overflow-y: scroll;width:100%" maxlength="1000" [(ngModel)]="remarks"></textarea>
        </div>
      </div>

    </div>

    <div class="social-login">
      <button style="float: right;
    margin-right: 1.7%;
    width: 15%;
    /* margin-top: -1%; */
    margin-top: -4px;
    background-color: green;
    border: none;
    color: white;
    height: 25px;" (click)="sendReviewAndRating()">Submit</button>
    </div>
  </div>
</div>