<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="left-prifile-wrap list-type3">
        <ul>
          <li  [ngClass]="{'active': selectedItem == content}" *ngFor="let content of contents" style="cursor: pointer">
            <a (click)="addContentByContentId(content)">{{content.fieldTitle}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-8">
      <div *ngIf="hostTour.tourContents.length>0" [froalaEditor] [(froalaModel)]="hostTour.tourContents[indexNo].contentValue"></div>
    </div>
  </div>
</div>

<div class="list-type1">
  <ol>
  <!-- <li><a href="#">Formget Online
     Form Builder Create Online Forms</a></li>
  <li><a href="#">Formget Online Form Builder Create Online Forms</a></li>
  <li><a href="#">Formget Online Form Builder Create Online Forms</a></li> -->
  </ol>
  </div>
