<div class="row">
    <div class="col-lg-12">
      <div class="ur-listing-tab">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#Your_Listing" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Your Listing</a>
          </li>
          <li role="presentation" class="">
            <a href="#manage-inventory" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Manage-Inventory</a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade active in" id="Your_Listing">
              <div *ngIf="showToolbar">
                  <mat-toolbar color="primary" *ngIf="!dataSource.data.length > 0">No Data Found!</mat-toolbar>
                </div>
            <div class="table-responsive" style="position: relative;" [ngClass]="{'hide-pagination':showToolbar}">
              <mat-table #table [dataSource]="dataSource" *ngIf="dataSource.data.length > 0">
                <!-- Unique Home-->
                <ng-container matColumnDef="Unique Home">
                  <mat-header-cell *matHeaderCellDef style="flex: 2.5"> Unique Home </mat-header-cell>
                  <mat-cell *matCellDef="let element" style="flex: 2.5"><span (click)="tooltip.show()">{{element.stayName | truncate:25}} </span> 
                      <span  [matTooltip]="element.stayName" #tooltip="matTooltip">
                    
                        </span>
                  </mat-cell>
                </ng-container>

                <!-- Guest  Name -->
                <ng-container matColumnDef="Guest  Name">
                  <mat-header-cell *matHeaderCellDef style="flex: 2.5">Guest Name </mat-header-cell>
                  <mat-cell *matCellDef="let element" style="flex: 2.5"> <span (click)="tooltip.show()">{{element.guestName | truncate:25}}</span>
                      <span  [matTooltip]="element.guestName" #tooltip="matTooltip">
                    
                        </span>
                     </mat-cell>
                </ng-container>

                <!-- Guest  Name -->
                <ng-container matColumnDef="Email Address">
                  <mat-header-cell *matHeaderCellDef style="flex: 2.5">Email Address</mat-header-cell>
                  <mat-cell *matCellDef="let element" style="flex: 2.5"> {{element.emailId}} </mat-cell>
                </ng-container>
                 <!-- Guest  Name -->
                 <ng-container matColumnDef="Mobile No">
                  <mat-header-cell *matHeaderCellDef style="flex: 2.5">Mobile No</mat-header-cell>
                  <mat-cell *matCellDef="let element" style="flex: 2.5"> {{element.guestPhone}} </mat-cell>
                </ng-container>
                
                
                <!-- Check in -->
                <ng-container matColumnDef="Check In">
                  <mat-header-cell *matHeaderCellDef style="flex: 1.5">Check In</mat-header-cell>
                  <mat-cell *matCellDef="let element" style="flex: 1.5"> {{element.bookStay.checkIn|date:'dd-MM-yyyy'}} </mat-cell>
                </ng-container>
                <!-- Check Out-->
                <ng-container matColumnDef="Check Out">
                  <mat-header-cell *matHeaderCellDef style="flex: 1.5">Check Out</mat-header-cell>
                  <mat-cell *matCellDef="let element" style="flex: 1.5"> {{element.bookStay.checkOut|date:'dd-MM-yyyy'}} </mat-cell>
                </ng-container>
                <!-- Creation Date Column -->
                <ng-container matColumnDef="Status">
                  <mat-header-cell *matHeaderCellDef style="flex: 1.5"> Status </mat-header-cell>
                  <mat-cell *matCellDef="let element" style="flex: 1.5"> {{element.statusName}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Action">
                  <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                  <mat-cell  *matCellDef="let element"><a (click)="viewUniqueHome(element.cityName, element.numberOfGuestsInRoom, element.bookStay.checkIn,element.bookStay.checkOut, element.svcId)">View</a></mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
              <mat-paginator #paginator [pageSize]="10" (page)="pageEvent = $event" [showFirstLastButtons]="false">
              </mat-paginator>
              <div class="paginationPageIndex">
                <div *ngIf="!pageEvent">1</div>

                <div *ngIf="pageEvent">


                  <div>{{pageEvent.pageIndex + 1}}</div>
                </div>
              </div>

            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="manage-inventory">
            <div class="manage-inventory-wrap">
              <div class="manage-invent-in">
                <span>Inventory </span>
                <p>Last update 21 nov 2017</p>
                <select>
                  <option>Select Property</option>
                </select>
              </div>
              <img src="../../../assets/images/manage-inventory-calender.jpg" alt="" class="img-responsive">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
