.tab-content th{
    font-size: 15px;
    font-weight: bold;
}

.tab-content td{
    font-size: 18px;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  .mat-cell{
      padding: 10px 5px;
  }
  .tab-content /deep/.mat-paginator-page-size{
      display: none;
  }
  .paginationPageIndex{
      position: absolute;
      right: 39px;
      bottom: 10px;
      background: #20419b;
      border: 1px solid #20419b;
      color: #fff;
      display: block;
      line-height: 34px;
      width: 34px;
      height: 34px;
      font-size:16px;
      text-align: center;
  }
  .tab-content /deep/.mat-paginator-navigation-previous{
    position: absolute;
    right: 73px;
    bottom: 10px;
   
  }
  .tab-content /deep/.mat-paginator-navigation-previous ,.tab-content /deep/.mat-paginator-navigation-next{
    color: #000;
    font-size: 16px;
    text-decoration: none;
    background: #f1f1f1;
    border: 1px solid #bababa;
    width: 34px;
    height: 34px;
    display: inline-block;
    text-align: center;
    line-height: 34px;
    border-radius: 0;
  }
  .tab-content /deep/.mat-paginator-navigation-previous:disabled ,.tab-content /deep/.mat-paginator-navigation-next:disabled {
opacity: 0.5;
  }
  .tab-content /deep/.mat-paginator-navigation-next{
    position: absolute;
    right: 5px;
    bottom: 10px;
  }
  .tab-content /deep/.mat-paginator-container{
      padding-right: 100px;
  }
  .tab-content /deep/.mat-paginator-container{
      justify-content: start !important;
      padding: 0;
      font-size: 16px;
      color: #000;
  }

  .mat-paginator{
      margin:  20px 0 0px;
    border-bottom: 1px solid #bababa;
    border-top: 1px solid #bababa;
  
  }
  .tab-content /deep/.mat-paginator-range-label::after{
      content: "Listings";
      position: relative;
      left: 5px;
  }

  .tab-content /deep/.mat-paginator-range-label{
      margin-left: 0;
  }
  #Your_Listing{
    padding-top: 0px;
}
.mat-header-row {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #fff;
    z-index: 10;
}

::ng-deep .mat-tooltip {
    background: #36519a!important;
    
}
.mat-row,.mat-header-row{
    padding: 0 5px;
}
.mat-cell{
    font-size: 13px;
}

.mat-cell a{
    cursor: pointer;
}
.hide-pagination /deep/.mat-paginator{
    display: none
}