
<div class="all-static">
  <div class="blank"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12">
            <div class="your-listing-head">
              <img src="../../../assets/images/user-pic01.jpg" alt="">
              <input type="text" class="Search-Liamtrians" placeholder="Search Liamtrians">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container Main_ConatinerData">
    <div class="row">
        <app-trip-planning-sidebar></app-trip-planning-sidebar>
        <div class="col-lg-9 margin-top20"><router-outlet></router-outlet></div>
</div></div>