.all-static{
    background-size: cover;
}
.container.Main_ConatinerData {
    position: relative;
}
@media (max-width: 1366px){
.container.Main_ConatinerData {
    width: 100%;
}}

@media (min-width: 1367px){
    .container.Main_ConatinerData {
        width: 1366px;
       
    }}
    

    .Main_ConatinerData::before{
        width: 2px;
        height: 96%;
        top: 2%;
        background: #ccc;
        left: 25%;
        content: '';
        position: absolute;
        display: block;

    }