<div class="container">
    <div class="row">
        <div class="col-lg-3" #profile>
            <div class="details-all-left">
                <div class="details-left details-left-car">
                    <h3>{{businessDetail.businessName}}</h3>
                    <div class="clear"></div>
                    <rating [(ngModel)]="businessDetail.averageReview" [max]="5" fullIcon="★" emptyIcon="☆" [readonly]="false" [disabled]="true"
                        [float]="true"></rating>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <div class="details-right">
                    <strong>{{businessDetail.hostName}} </strong>
                    <p>{{businessDetail.contactNo}}</p>
                    <p>{{businessDetail.emailId}}</p>
                    <p>{{businessDetail.address1}}</p>
                    <p>{{businessDetail.address2}}</p>
                    <p>{{businessDetail.cityName}}</p>
                    <p>{{businessDetail.zipCode}}</p>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="col-lg-9 margin-top20 left-checkout">
            <div class="left-details-setion right-listing-top">
                <image-slider [slides]="businessDetail.images" [sliderCss]="sliderCss"></image-slider>
                <div class="wishlist" style="cursor: pointer;" (click)="bookFavorite()">
                    <img *ngIf="!businessDetail.isFavorite" src="assets/images/heart.png" alt="">
                    <img *ngIf="businessDetail.isFavorite" src="assets/images/heart1.png" alt="">
                </div>
            </div>
            <div class="list-overview">
                <a class="a-cursor-pointer" (click)="scroll('profile')">Profile</a> |
                <a class="a-cursor-pointer" (click)="scroll('reviews')">Reviews</a> |
                <a (click)="openDialog()" style="cursor:pointer">Report this Business</a>
            </div>
            <div class="list-overview-wrap">
                <h3>Description for business</h3>
                <p>{{businessDetail.businessDescription}}</p>
            </div>
            <div class="list-overview-wrap">
                <h3>Languages</h3>
                <label style="margin-right: 1%" *ngFor="let lang of languages;let index=index">
                    {{lang.cdKeyValue}}
                </label>
            </div>
        </div>


        <div class="col-lg-3"></div>
        <div class="col-lg-9 tour-dtl-overview" style="margin-bottom: 1%" #reviews>
            <div class="list-overview-wrap" *ngIf="businessDetail.userServiceReview && businessDetail.userServiceReview.length == 0">
                <div style="float: left;width: 50%;">
                    <h3>No reviews (yet)</h3>
                </div>
                <div style="font-size: medium;">
                    <div style="display:inline-block; cursor: pointer; background: #20419b; color: #fff; font-size: 20px; width:22px; height: 22px; text-align: center; margin-right: 5px;  line-height: 19px;">+</div>
                    <a class="btn-demo" style="cursor:pointer" (click)="openReviewModal()">Add Review</a>
                </div>
            </div>
            <div class="col-lg-12 tour-dtl-overview list-overview-wrap" *ngIf="businessDetail.userServiceReview && businessDetail.userServiceReview.length>0">
                <div style="margin-bottom: 1%">
                    <div style="float: left;width: 50%;">
                        <h3>Reviews</h3>
                    </div>
                    <div style="font-size: medium;">
                        <div style="display:inline-block; cursor: pointer; background: #20419b; color: #fff; font-size: 20px; width:22px; height: 22px; text-align: center; margin-right: 5px;  line-height: 19px;">+</div>
                        <a class="btn-demo" style="cursor:pointer" (click)="openReviewModal()">Add Review</a>
                    </div>
                </div>

                <ul style="margin: 2%;">
                    <li *ngFor="let review of businessDetail.userServiceReview">
                        <div class="col-lg-12" style="padding: 0;margin-left: -14px;">
                            <div class="col-lg-2">
                                <img style="float: left;margin-right: 2%;" src="assets/images/test-img.png" width="52" height="52">
                            </div>
                            <div class="col-lg-10">
                                {{review.remarks| truncate : 60}}
                            </div>
                            <div class="col-lg-12" style="padding: 0">
                                <div class="col-lg-7" style="opacity:0.6">
                                    <b *ngIf="review.userName.trim()!==''">{{review.userName}}</b>
                                    <b *ngIf="review.userName.trim()===''">Anonymous User</b>
                                </div>
                                <div class="col-lg-5" style="opacity:0.6">
                                    {{review.creationDate| date: 'dd-MMM-yyyy'}}
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-9 margin-top20 left-checkout">
            <div class="map">
                <app-google-map [mapSearch]="cityName" [isMarkerDraggable]="isMarkerDraggable" [locationCss]="locationCss">
                </app-google-map>
            </div>
        </div>

    </div>

    <app-login-modal *ngIf="modal" (modalPopupEvent)="modalPopupEvent($event)" [modal]="modal" [modalStatus]="modalStatus"></app-login-modal>
    <app-review-modal *ngIf="businessDetail" [modal]="reviewModal" [userServiceId]="businessDetail.userServiceId" (closePopupEvent)="closePopupEvent($event)"></app-review-modal>