<div class="cl-slider-m">
  <!-- <video width="100%" autoplay loop>
    <source src="assets/video-liamtra.mov" type="video/mp4">
    <source src="assets/movie.ogg" type="video/ogg">
  </video> -->
  <video width="100%" [src]="videoUrl" controls autoplay loop>
    Your browser does not support HTML5 video.
  </video>
  <div class="slider-menu">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>Book Unique homes online</h1>
          <h2>deep discount on 17000+ properties in India</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul>
            <li>
              <a (click)="routeOnPage('uniqueHome')" style="cursor: pointer;"  >
                <img src="assets/images/s-icon1.png" width="50" height="50">Unique Homes</a>
            </li>
            <li>
              <a href="hotel.html">
                <img src="assets/images/s-icon2.png" width="50" height="50">Hotel</a>
            </li>
            <li>
              <a href="flight.html">
                <img src="assets/images/s-icon3.png" width="50" height="50">Flight</a>
            </li>
            <li>
              <a href="car.html">
                <img src="assets/images/s-icon4.png" width="50" height="50">Taxi</a>
            </li>
            <li>
              <a (click)="routeOnPage('tour')" style="cursor: pointer;"  >
                <img src="assets/images/s-icon5.png" width="50" height="50">Tour</a>
            </li>
            <li>
              <a routerLink="user-profile">
                <img src="assets/images/s-icon6.png" width="50" height="50">Profile</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>