<div class="homesearchbg">
  <app-book-tour-search-filter [destination]="bookTourFilterModel.destination" [month]="bookTourFilterModel.month"></app-book-tour-search-filter>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="tour-search-tag">
        <h2>Liamtra Tours</h2>
      </div>
    </div>

    <div class="col-lg-12" *ngFor="let tour of bookTourListing">
      <div class="tour-search-wrap">
        <div class="tour-search-wrap-left right-listing-top" style=" height: 315px;">
          <image-slider [slides]="tour.images" [sliderCss]="sliderCss"></image-slider>
          <div class="wishlist" style="cursor: pointer;">
            <img *ngIf="tour.isFavorite" src="assets/images/heart1.png" alt="">
            <img *ngIf="!tour.isFavorite" src="assets/images/heart.png" alt="">
          </div>
        </div>
        <div class="tour-search-wrap-mid">
          <h3>
            <a [routerLink]="['/book/tour-detail/',tour.id]"  >{{tour.title}} ({{tour.totalDays}} Days - {{tour.totalNights}} Night)</a>
          </h3>
          <p style="float: left;margin-right: 1%">{{tour.startDate | date: 'MMM-d-y'}} </p>
          <p style="float: left;margin-right: 2%;margin-left: 2%">-</p>
          <p> {{tour.endDate| date: 'MMM-d-y'}}</p>
          <ul>
            <li>{{tour.source}} </li>
            <li>{{tour.destination}} </li>
          </ul>
          <div class="tour-search-service" *ngFor="let value of tour.userServiceMultiValues">
            <div class="img-round">
              <img src="images/volvo.png" alt="">
            </div>
            <span>{{value.cdKeyValue}}</span>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="tour-search-wrap-right">
          <span>₹ {{tour.packagePrice}}</span>
          <p>Starting price per Package</p>
          <a [routerLink]="['/book/tour-detail/',tour.id]"  >Book Online</a>
          <label>{{tour.totalSeats}} Seats Left</label>
          <!-- <div class="travel-itinerory">
            <a href="#">Download Travel itinerory</a>
          </div> -->
        </div>
      </div>
    </div>

    <div *ngIf="bookTourListing.length===0">
      <div class="label" style="color: #455581;font-size: -webkit-xxx-large;">No Tour Found</div>
    </div>

  </div>
</div>