<div class="form-inner-in">

  <div class="form-data">
    <label>Amenties
      <em style="color: red">*</em>
    </label>
    <angular2-multiselect [data]="amenties" [(ngModel)]="selectedAmenties" [settings]="dropdownSettings" (onSelect)="onAmentySelect($event)"
      (onDeSelect)="onAmentyDeSelect($event)" (onSelectAll)="onAmentySelectAll($event)" (onDeSelectAll)="onAmentyDeSelectAll()">
    </angular2-multiselect>
  </div>

  <div class="form-data">
    <div class="col-lg-3" style="margin-top: 23px;padding: 0">
      <label>Add Stay Plan
        <div style="display: inline-block; margin-left: 10px;" class="Addbutton" (click)="addStayPlan()">+</div>
      </label>
    </div>

    <div class="clear"></div>
  </div>

  <div class="form-data" *ngFor="let stayPlan of hostTour.tourStayPlans;let index=index">
    <div *ngIf="!stayPlan.isDeleted">
      <div class="col-lg-4" style="padding: 0">
        <label>City Name
          <em style="color: red">*</em>
        </label>
        <input placeholder="City Name" OnlyAlphabets="true" type="text" maxlength="100" [(ngModel)]="stayPlan.cityName">
      </div>
      <div class="col-lg-4">
        <label>Total Nights
          <em style="color: red">*</em>
        </label>
        <input placeholder="Total Nights" OnlyNumber type="text" maxlength="2" [(ngModel)]="stayPlan.totalNights">
      </div>
      <div class="col-lg-4">
        <div class="deletebutton" (click)="deleteStayPlan(index)">x</div>
      </div>
      <div class="clear"></div>
    </div>
  </div>

</div>