.Addbutton {
  cursor: pointer;
  background: #20419b;
  color: #fff;
  font-size: 20px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  text-align: center;
  margin-left: 0px;
  line-height: 19px;
  margin-top: 30px;
  border-radius: 0;
}

.deletebutton {
  cursor: pointer;
  background: red;
  color: #fff;
  font-size: 20px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  text-align: center;
  margin-left: 0px;
  line-height: 19px;
  margin-top: 40px;
  border-radius: 0;
}