<div>
  ahul filter></div>

<style>
  destination_input {
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
  }
</style>

<div class="blank"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="home_search_wrap">
        <input placeholder="Destination" class="destination_input" style="max-height: 200px;overflow-y: auto;width:775px" ngui-auto-complete
          [(ngModel)]="bookTourFilterModel.destination" [source]="observableSource.bind(this)" />
        <select class="guest_select" name="selectedTechs" [(ngModel)]="bookTourFilterModel.month">
          <option [ngValue]="0" disabled selected>Month</option>
          <option *ngFor="let month of months" [ngValue]="month.value">{{month.label}}</option>
        </select>
        <a class="btn-search" (click)="getBookTours()"  >Search</a>
      </div>
    </div>
  </div>
</div>