<div>
<!-- <h4 md-dialog-title><strong>{{data.headerTitle}}</strong></h4> -->
  <hr>
  <mat-dialog-content>

 <p>Are you sure to Cancel this Booking?</p> 
  </mat-dialog-content>
  <hr>
  <mat-dialog-actions>
    <button mat-raised-button (click)="onCloseConfirm()">CONFIRM</button>&nbsp;
    <button mat-raised-button (click)="onCloseCancel()">CANCEL</button>
  </mat-dialog-actions>
</div>