<div class="slider-inn">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul>
          <li [ngClass]="{'active':stepNumber===1}">
            <a (click)="tabSwitch(1)">
              <span>1</span> Tour Detail</a>
          </li>
          <li [ngClass]="{'active':stepNumber===2}">
            <a (click)="tabSwitch(2)">
              <span>2</span> Itenary Stay Plan</a>
          </li>
          <li [ngClass]="{'active':stepNumber===3}">
            <a (click)="tabSwitch(3)">
              <span>3</span> Description Of Plan</a>
          </li>
          <li [ngClass]="{'active':stepNumber===4}">
            <a (click)="tabSwitch(4)">
              <span>4</span> Upload Images/Videos </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="inner-container">
  <div class="container">
    <div class="row">

      <div class="col-lg-8" [hidden]="stepNumber===3">
        <div class="form-inner">
          <div class="form-top">
            Step {{stepNumber}} of 4
            <div class="clear"></div>
          </div>

          <div class="form-inner-in" [hidden]="stepNumber>1">
            <app-host-tour-detail [hostTour]='hostTour'></app-host-tour-detail>
          </div>

          <div class="form-inner-in" [hidden]="stepNumber<2 || stepNumber>2">
            <app-host-tour-stay-plan *ngIf="hostTour.userServiceMultiValues.length!==0 || hostTour.id ===0" [hostTour]='hostTour'></app-host-tour-stay-plan>
          </div>

          <div style="margin-left: 2%" [hidden]="stepNumber<4 || stepNumber>4">
            <app-attachment-image [serviceTypeId]="serviceTypeId" [Attachment]="hostTour.userServiceAssets"></app-attachment-image>
            <div class="form-data">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" [(ngModel)]="hostTour.isTermAccepted"> I agree to the
                  <a style="cursor:pointer" (click)="getTermsAndConditions()">Terms & Conditions</a>
                </label>
              </div>
            </div>
          </div>

          <div class="form-bottom">
            <button class="button-back" *ngIf="stepNumber>1" (click)="backButton()">Back</button>
            <button class="button-next" *ngIf="stepNumber!==4" (click)="nextButton()">Next</button>
            <button class="button-next" *ngIf="stepNumber===4"   (click)="submit()">Agree & countinue</button>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4" [hidden]="stepNumber===3">
        <div class="side-con">
          <h5>Entire Home</h5>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
            from 45 BC, making it over 2000 years old.</p>

          <h5>Only Rooms</h5>
          <p>Contrary to popular belief,</p>

          <h5>Need help?</h5>
          <p>Connect with us below</p>
        </div>
      </div>

      <div class="col-lg-12" [hidden]="stepNumber===1 || stepNumber===2 ||stepNumber===4">
        <div class="form-inner">
          <div class="form-top">
            Step {{stepNumber}} of 4
            <div class="clear"></div>
          </div>
          <div class="form-inner-in" [hidden]="stepNumber<3 || stepNumber>3">
            <app-host-tour-content [hostTour]='hostTour'></app-host-tour-content>
          </div>

          <div class="form-bottom">
            <button class="button-back" *ngIf="stepNumber>1" (click)="backButton()">Back</button>
            <button class="button-next" *ngIf="stepNumber!==4" (click)="nextButton()">Next</button>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



<app-login-modal *ngIf="modal" (modalPopupEvent)="modalPopupEvent($event)" [modal]="modal" [modalStatus]="modalStatus"></app-login-modal>

<app-terms-and-conditions *ngIf="termAndConditionmodal" [modal]="termAndConditionmodal" (modalPopupEvent)="termsAndConditionsPopupEvent($event)">
</app-terms-and-conditions>