<div class="form-inner-in">

  <div class="form-data">
    <label>Tour Title
      <em style="color: red">*</em>
    </label>
    <input placeholder="Tour Title" OnlyAlphaNumeric="true" type="text" maxlength="255" [(ngModel)]="hostTour.title">
  </div>

  <div class="form-data">
    <div class="form-data-in">
      <label>Tour Start Date
        <em style="color: red">*</em>
      </label>
      <mat-form-field>
        <input matInput [matDatepicker]="startDate" [min]="minDateForDatepicker" (click)="startDate.open()" [(ngModel)]="hostTour.startDate"
          placeholder="start date" readonly="readonly">
        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker #startDate disabled="false" touchUi="true"></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-data-in">
      <label>Tour End Date
        <em style="color: red">*</em>
      </label>
      <mat-form-field>
        <input matInput [matDatepicker]="endDate" [min]="hostTour.startDate" (click)="endDate.open()" [(ngModel)]="hostTour.endDate"
          placeholder="end date" readonly="readonly">
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate disabled="false" touchUi="true"></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="clear"></div>
  </div>

  <div class="form-data">
    <div class="form-data-in">
      <label>Source
        <em style="color: red">*</em>
      </label>
      <input placeholder="Source" OnlyAlphabets="true" type="text" maxlength="100" [(ngModel)]="hostTour.source">
    </div>
    <div class="form-data-in">
      <label>Destination
        <em style="color: red">*</em>
      </label>
      <input placeholder="Destination" OnlyAlphabets="true" type="text" maxlength="100" [(ngModel)]="hostTour.destination">
    </div>
    <div class="clear"></div>
  </div>

  <div class="form-data">
    <div class="form-data-in">
      <label>Total Days
        <em style="color: red">*</em>
      </label>
      <input placeholder="Total Days" OnlyNumber type="text" maxlength="2" [(ngModel)]="hostTour.totalDays">
    </div>
    <div class="form-data-in">
      <label>Total Nights
        <em style="color: red">*</em>
      </label>
      <input placeholder="Total Nights" OnlyNumber type="text" maxlength="2" [(ngModel)]="hostTour.totalNights">
    </div>
    <div class="clear"></div>
  </div>

  <div class="form-data">
    <div class="form-data-in">
      <label>Total Seats
        <em style="color: red">*</em>
      </label>
      <input placeholder="Total Seats" OnlyNumber type="text" maxlength="2" [(ngModel)]="hostTour.totalSeats">
    </div>
    <div class="form-data-in">
      <label>Total Adults
        <em style="color: red">*</em>
      </label>
      <input placeholder="Total Adults" OnlyNumber type="text" maxlength="2" [(ngModel)]="hostTour.totalAdults">
    </div>
    <div class="clear"></div>
  </div>

  <div class="form-data">
    <div class="form-data-in">
      <label>Stay Duration
        <em style="color: red">*</em>
      </label>
      <input placeholder="Total Duration" OnlyNumber type="text" maxlength="2" [(ngModel)]="hostTour.stayDuration">
    </div>
    <div class="form-data-in">
      <label>Package Price
        <em style="color: red">*</em>
      </label>
      <input placeholder="Package Price" OnlyNumber type="text" maxlength="6" [(ngModel)]="hostTour.packagePrice">
    </div>
    <div class="clear"></div>
  </div>

  <div class="form-data">
    <div class="form-data-in">
      <label>GST
        <em style="color: red">*</em>
      </label>
      <input placeholder="GST" OnlyNumber type="text" maxlength="4" [(ngModel)]="hostTour.gst">
    </div>
    <div class="clear"></div>
  </div>

</div>