<style>
    .button {
        cursor: pointer;
        color: #000;
        font-size: 16px;
        text-decoration: none;
        background: #f1f1f1;
        border: 1px solid #bababa;
        width: 34px;
        height: 34px;
        display: inline-block;
        text-align: center;
        line-height: 34px;
        float: right;
    }
</style>

<div class="pagination" *ngIf="count > 0">
    <span>{{ getMin() }} - {{ getMax() }} of {{ count }} Listings</span>
    <a class="button" (click)="onNext()" [hidden]="lastPage() || loading">

        <img src="assets/images/right-arrow.png" alt="">
    </a>
    <ul>
        <li *ngFor="let pageNum of getPages()">
            <a style="cursor: pointer" [ngClass]="activeCssClass(pageNum)" (click)="onPage(pageNum)">{{pageNum}}</a>
        </li>
    </ul>
    <a (click)="onPrev()" [hidden]="page === 1 || loading" class="button">
        <img src="assets/images/left-arrow.png" alt="">
    </a>
</div>