.locationMap {
    height: 498px;
    width: 370px;
  }

  .locationMapBooking {
    height: 200px;
    width: 370px;
  }


.uniqueHomeMap {
  height: 450px;
    width: 1100px;
}

.hostExperinceMap {
  height: 400px;
  width: 370px;
}

.bookTourMap {
  height: 450px;
  width: 850px;
}