<agm-map [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" [ngClass]="location()" [latitude]="latitude" [longitude]="longitude">
    <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
        <agm-marker *ngIf="!isShow" [latitude]="latitude" [longitude]="longitude" [markerDraggable]="isMarkerDraggable" (mouseOut)="centerChangeEvent()"
            [openInfoWindow]="true" (dragEnd)="markerDragEnd($event)">
        </agm-marker>
        <div *ngIf="isShow">
            <agm-marker *ngFor="let m of locations" [latitude]="m.latitude" [longitude]="m.longitude" [markerDraggable]="true" (mouseOut)="centerChangeEvent()"
                [openInfoWindow]="true" (dragEnd)="markerDragEnd($event)">
                <agm-info-window>{{m | json}}</agm-info-window>
            </agm-marker>
        </div>
    </agm-marker-cluster>
</agm-map>