<style>
  .is-error {
    left: -5px;
    background: rgba(215, 102, 102, 0.9);
    padding: .8em;
    color: #FFF;
    font-size: 1rem;
  }
</style>

<div class="form-inner-in">

  <div class="form-data">
    <!-- <span class="is-error">All astrick(*) fields are mandatory</span> -->
  </div>

  <div class="form-data">
    <label>Business Name
      <em style="color: red">*</em>
    </label>
    <input type="text" OnlyAlphaNumeric="true" maxlength="100" [(ngModel)]="businessModel.businessName">
  </div>

  <div class="form-data">
    <label> Describe the uniqueness of your business
      <em style="color: red">*</em>
    </label>
    <textarea  OnlyAlphaNumeric="true" maxlength="500" [(ngModel)]="businessModel.businessDescription"></textarea>
  </div>


  <div class="form-data">
    <label>Describe your services </label>
    <angular2-multiselect [data]="serviceData" [(ngModel)]="selectedService" (onSelect)="onExperienceSelect($event)" (onDeSelect)="onExperienceDeSelect($event)"
      (onSelectAll)="onExperienceSelectAll($event)" (onDeSelectAll)="onExperienceDeSelectAll()"></angular2-multiselect>
  </div>

</div>