<style>
    .home_search_wrap {
        height: 48px!important;
    }
</style>
<div class="cl-slider-vendor" *ngIf="isExpMain">
    <div class="slider-menu-in">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Find a Bussiness online</h1>
                    <h2>deep discount on 17000+ Bussiness in India</h2>

                </div>
            </div>
        </div>
    </div>

    <div class="cl-slider-home-in">
        <div class="blank"></div>
        <div class="container">


            <div class="row">
                <div class="col-lg-12" style="background-color: white;">
                    <div class="home_search_wrap">
                        <div style="position: relative; display: inline-flex">
                            <input class="destination_input-v" max-num-list="10" loading-text="Getting Name..." ngui-auto-complete placeholder="Enter an experience name"
                                [(ngModel)]="experience" [source]="observableSource.bind(this)" open-on-focus="false" no-match-found-text="No Experience.."
                                required />
                        </div>
                        <div style="position: relative; display: inline-flex">
                            <input class="destination_input-v" max-num-list="10" loading-text="Getting City List..." ngui-auto-complete placeholder="Enter a city name"
                                [(ngModel)]="city" [source]="cityObservableSource.bind(this)" open-on-focus="false" no-match-found-text="No city.."
                                required />

                        </div>
                        <a class="btn-search" (click)="getBookExperience()">Search</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="vendorsearchbg" *ngIf="isExpList">
    <div class="blank"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="background-color: white;">
                <div class="home_search_wrap">
                    <div style="position: relative; display: inline-flex">
                        <input class="destination_input-v" max-num-list="10" loading-text="Getting City List..." ngui-auto-complete placeholder="Enter an experience name"
                            [(ngModel)]="experience" [source]="observableSource.bind(this)" open-on-focus="false" no-match-found-text="No Experience.."
                            required />
                    </div>
                    <div style="position: relative; display: inline-flex">
                        <input class="destination_input-v" max-num-list="10" loading-text="Getting City List..." ngui-auto-complete placeholder="Enter a city name"
                            [(ngModel)]="city" [source]="cityObservableSource.bind(this)" open-on-focus="false" no-match-found-text="No city.."
                            required />
                    </div>
                    <a class="btn-search" (click)="getBookExperience()">Search</a>
                </div>
            </div>
        </div>
    </div>
</div>