.tab-content th{
    font-size: 15px;
    font-weight: bold;
}

.tab-content td{
    font-size: 18px;
}
.mat-expansion-panel-header{
    padding: 0;
    border-top: 1px solid #bababa;
}
.mat-expansion-panel:first-child .mat-expansion-panel-header{
    border: none;
}
.left-prifile-wrap  #TripNavigation li{
     height: auto;
     padding: 0;

 }

 .left-prifile-wrap #TripNavigation li /deep/span{
    margin-top: 15px;
    display: block;
    background: none;
    color: #000;
    line-height: 48px;
    font-family: 'LatoWeb';
    text-transform: uppercase;
    font-size: 14px;
    padding: 0 15px;
   
 }
 
 .left-prifile-wrap #TripNavigation li  .mat-expansion-panel{
    box-shadow: none;
 }
 .left-prifile-wrap #TripNavigation li > a{
    padding: 0 15px;
    display: flex;
    align-items: center;
    height: 48px;
   
 }
 .left-prifile-wrap #TripNavigation li  a.active, .left-prifile-wrap #TripNavigation li > a:hover{
 background: #20419b;
 color: #fff;
 text-decoration: none;
 }

 .left-prifile-wrap /deep/.mat-expansion-panel-body{
     border-top: 1px solid #ccc;
 }

 .left-prifile-wrap /deep/.mat-expansion-panel-body a{
     padding: 10px;
     border-left: 1px dashed #ccc;
     border-bottom: 1px dashed #ccc;
     display: block;
     font-size: 12px;
 }