<div class="col-lg-3 margin-top20">
  <div class="left-prifile-wrap">
    <div class="profile-pic-wrap">
      <img src="../../../assets/images/user-pic01.jpg" alt="">
    </div>
    <span>Johnny Asin
      <!-- <img src="../../../assets/images/verify-icon.png" alt=""> -->
    </span>
    <ul id="TripNavigation">
      <li>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <a routerLink="./">Profile</a>
                </mat-expansion-panel-header>
              </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <a href="your-listing.html">News Feed</a>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
          <mat-expansion-panel>

            <mat-expansion-panel-header>
              My Listings
            </mat-expansion-panel-header>

            <a class="mat-menu-item" [routerLinkActiveOptions]="{exact:
                    true}" routerLink="/user-profile/homeListings" routerLinkActive="active">Unique Home Listings</a>
            <a class="mat-menu-item" [routerLinkActiveOptions]="{exact:
                          true}" routerLink="/user-profile/homeListingsReporting" routerLinkActive="active">Unique Home Reported</a>
            <a class="mat-menu-item" [routerLinkActiveOptions]="{exact:
                            true}" routerLink="/user-profile/tourListings" routerLinkActive="active">Tour Listings</a>
            <a class="mat-menu-item" [routerLinkActiveOptions]="{exact:
                              true}" routerLink="/user-profile/tourReportedListings" routerLinkActive="active">Tour Reported Listings</a>

            <a class="mat-menu-item" [routerLinkActiveOptions]="{exact:
                          true}" routerLink="/user-profile/experienceListings" routerLinkActive="active">Experience Listings</a>
            <a class="mat-menu-item" [routerLinkActiveOptions]="{exact:
                          true}" routerLink="/user-profile/experienceListingsReporting" routerLinkActive="active">Experience Reported Listings</a>
            <a class="mat-menu-item" [routerLinkActiveOptions]="{exact:
                          true}" routerLink="/user-profile/businessListings" routerLinkActive="active">Businesse Listings</a>
            <a class="mat-menu-item" [routerLinkActiveOptions]="{exact:
                          true}" routerLink="/user-profile/businessListingsReporting" routerLinkActive="active">Businesses Reported Listings</a>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              My Bookings
            </mat-expansion-panel-header>
            <a class="mat-menu-item" [routerLinkActiveOptions]="{exact:
                    true}" routerLink="/user-profile/bookedCancelledHomes" routerLinkActive="active">Booked/Cancelled Unique Homes</a>
            <a class="mat-menu-item" [routerLinkActiveOptions]="{exact:
                    true}" routerLink="/user-profile/bookedCancelledTours" routerLinkActive="active">Booked/Cancelled Tours</a>

          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              My Favorite Listings
            </mat-expansion-panel-header>
            <a class="mat-menu-item" [routerLinkActiveOptions]="{exact:
                          true}" routerLink="/user-profile/favUniqueHomeListings" routerLinkActive="active">Favorite Unique Home Listings</a>
            <a class="mat-menu-item" [routerLinkActiveOptions]="{exact:
                          true}" routerLink="/user-profile/favTourPackages" routerLinkActive="active">Favorite Tour Package Listings</a>
            <a class="mat-menu-item" [routerLinkActiveOptions]="{exact:
                          true}" routerLink="/user-profile/favExperiences" routerLinkActive="active">Favorite Experience Listings</a>
            <a class="mat-menu-item" [routerLinkActiveOptions]="{exact:
                          true}" routerLink="/user-profile/favBusiness" routerLinkActive="active">Favorite Business Listings</a>

          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Booking For My Listings
            </mat-expansion-panel-header>
            <a class="mat-menu-item" [routerLinkActiveOptions]="{exact:
                    true}" routerLink="/user-profile/myHomeBookingListings" routerLinkActive="active">My Booked/Cancelled Unique Homes</a>
            <a class="mat-menu-item" [routerLinkActiveOptions]="{exact:
                    true}" routerLink="/user-profile/myTourBookingListings" routerLinkActive="active">My Booked/Cancelled Tours</a>
          </mat-expansion-panel>
        </mat-accordion>
      </li>

    </ul>

  </div>
</div>