/* You can add global styles to this file, and also import other style files */
body  .mat-tooltip-panel{
    pointer-events:auto!important;
    pointer-events:all!important;
    -webkit-touch-callout: all;
-webkit-user-select: all;
-khtml-user-select: all;
-moz-user-select: all;
-ms-user-select: all;
user-select: all;

}
.mat-tooltip{
    font-size: 13px!important;
    max-width: 450px!important;
    line-height: 1.6!important;
}
html /deep/.star-icon.half100:before{
    /* width: 100%; */
    color: yellow!important;
}