<app-bussiness-search [isExpMain]="true" [searchItem]="term">
</app-bussiness-search>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="vendor-category">
        <input type="text" placeholder="Search" [(ngModel)]="term">
        <ul>
          <li *ngFor="let vendor of vendors |filter:term">
            <a (click)="businessList(vendor)" >{{vendor.displayName}}</a>
        </ul>
      </div>
    </div>
  </div>
</div>